@import "normalize", "foundation";

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
height:100%;
overflow-x:hidden;
}
body {
height:100%;
}
#wrap {
height: 100%;
min-height:100%;
width:500%;
overflow:hidden;
}

h1 {

  margin:20px 20px;
  color:white;
  font-size:40px;
  font-family: 'Alegreya Sans', sans-serif;
  text-shadow: 2px 2px #000000;
  letter-spacing: 5px;
  
}

/* -------------------PAGE ONE OF SITE---------------------------*/
#one {
width:20%;
float:left;
background: url(../images/bob.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;
  
}


.main-head {
  position: absolute;
  top:200px;
  left:20px;
  width:27%;
  height:50%;

  h2 {
  color:white;
  font-size:40px;
  font-family: 'Alegreya Sans', sans-serif;
  text-shadow: 2px 2px #000000;
  letter-spacing: 5px;
  height:50px;
  margin:0px 0 5px 10px;
  }

  .description {
    background:rgba(0,0,0,.5);
    padding:10px 10px 10px 10px;  
    width:80%;
    margin-top: 5px;
    border-radius:10px;


     p {

    color:white;
    font-family: 'Karla', sans-serif;
    font-weight: 100;
    font-size:14px;
    width:100%;
    margin-top:5px;
    } 


    .music-player {
      height:50px;

    
      img {
      height:50px;
      float:left;

      }

      p {
        float:left;
        margin:14px 0 14px 14px;
        width:40%;  
        color:grey;
      }
    }

  }

}

.pause-btn {
  display:none;
}

/*----------------PAGE TWO OF SITE-------------------*/
#two {
width:20%;
float:left;
background: url(../images/mooning.png) repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;
  
  .bio-story {
    height:100%;

    p {
      font-family:Geneva;
      font-size:14px;
    }

    h5 {
      margin-top:50px; 
      font-family:Geneva;
      font-size:30px;
    }

    h6 {
      font-family:Geneva;
      font-size:26px;
    }
  }
  .bio-pic {
    height:100%;
    position:relative;
    
    img {
      position:absolute;
      bottom:96px;
    }
  }
}


#three {
width:20%;
float:left;
background: url(../images/slider1.jpeg) repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;



}

#four { 
width:20%;
float:left;
}

#five {
width:20%;
float:left;
}


/*-----NAV MENU-----*/
ul {
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
position:fixed;
top:0;
width:60%;
left:20%;
right:20%;
height:50px;
line-height:40px;
text-align:center;
background:#ccc;
margin:0;
padding: 0;
background:rgba(0,0,0,.5);

  li {

  display:inline;
  margin:0 40px;
  font-family: 'Karla', sans-serif;
  font-size:15px;
  position:relative;
  top:5px;

    a {
      color:white;
      height:100%;
      width:50px;

      img {
      width:40px;
      height:40px
      }
    }
  }
}

#bio {
  height:100%;
  background-color:#215f0a;
  padding:10px 40px;
  border-radius:10px;
}

#media{
  height:100%;
  background-color:#ae7a10;
  padding:10px 40px;
  border-radius:10px;
}

#news {
  height:100%;
  background-color:#6c130c;
  padding:10px 40px;
  border-radius:10px;
}

#shop {
  height:100%;
  background-color:#26180f;
  padding:10px 40px;
  border-radius:10px;
}



/*------END OF NAV ---------*/

* html ul {position:absolute;left:expression(0+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');} 
* html {background:url(fake.jpg)}
* html #full {height:100%;}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}